/*Since version 1.4 the nav div has a scrollbar which we avoid with this*/
.fixed-navigation nav{
    overflow-x: hidden;
}

// FIXME since version 1.4 the collapse menu button is not visible anymore....

.angular-google-map-container { height: 400px; }

#ribbon .breadcrumb a.active {
    color: #fff!important;
    position: relative;

}

#logo{
    width: auto !important;
}

#logo img {
    width: 65px;
}

/*#shortcut-tree {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 350px;
    background-color: #33302F;
    background-color: rgba(0,0,0,.85);
    z-index: 1005;
    display: none;
    color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}*/

.tree-container{

    /*background-color: #3A3633;*/
    margin: -10px -14px;
    padding: 0px;
    

    /* height: 1000px; */
    border-color: #fff;
    /* border: 1px solid #ffffff; */
    /* z-index: 500; */
}

.catalagoue-tree>ul{
    padding-left: 18px !important;
    background-color: #474544;
    height: 1000px;
}

ul.dynatree-container a{
    color: #a8a8a8;
}

ul.dynatree-container a:hover{
    color: #ffffff;
    background-color: rgba(69,69,69,.8);
}

span.glyphicon{
    color: #ffffff;
}

/*Breadcrumb hover animation*/
#ribbon .breadcrumb a:hover{
    /*background-color: rgba(91,89,88,.8);*/
    color:#fff !important;
}

/* The smart admin css contains a bug which cuts off some letters in the sparks element*/
#sparks li span{
    line-height: 24px;
}

#header, #ribbon{
    z-index: 55555 !important;
}

#menuCollapse{
    margin-right: 16px;
    padding-top: 4px;
}
.mac #menuCollapse{
    margin-right: 0px !important;
}

.mac body.fixed-navigation nav>ul{
    width:100% !important;
    padding-right: 0px !important;
}