<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Dashboard <span>> My Dashboard</span></h1>
    </div>
    <div  class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
        <ul id="sparks" class="">
            <!--<li class="sparks-info">-->
            <li class="sparks-info">
                <h5> My Income <span class="txt-color-blue"><i class="fa fa-arrow-circle-up"></i>$47,171</span></h5>
            <sparkline class="txt-color-blue" values="spark1Values" ></sparkline>
            </li>
            </li>
            <li class="sparks-info">
                <h5> Site Traffic <span class="txt-color-purple"><i class="fa fa-arrow-circle-up"></i>&nbsp;45%</span></h5>
            <sparkline class="txt-color-purple" values="spark2Values" ></sparkline>
            </li>
            <li class="sparks-info">
                <h5> Site Orders <span class="txt-color-greenDark"><i class="fa fa-shopping-cart"></i>&nbsp;2447</span></h5>
            <sparkline class="txt-color-greenDark" values="spark1Values" ></sparkline>
            </li>
        </ul>
    </div>
</div>
<dataslots dataslots="dataslots">
</dataslots>
<!-- end widget grid -->
