<article class="col-sm-3 sortable-grid ui-sortable" >
    <jarvis-widget class="jarviswidget-color-greenLight" id="foo"  data-widget-editbutton="false" data-widget-colorbutton="false">
        <jarvis-widget-title title="title" icon="icon">

            <ul class="nav nav-tabs pull-right in" id="myTab">
                <li class="active">
                    <a data-toggle="tab" href="#s1"><i class="fa fa-clock-o"></i> <span class="hidden-mobile hidden-tablet">Live Stats</span></a>
                </li>

                <li>
                    <a data-toggle="tab" href="#s2"><i class="fa fa-facebook"></i> <span class="hidden-mobile hidden-tablet">Social Network</span></a>
                </li>

                <li>
                    <a data-toggle="tab" href="#s3"><i class="fa fa-dollar"></i> <span class="hidden-mobile hidden-tablet">Revenue</span></a>
                </li>
            </ul>

        </jarvis-widget-title>
        <jarvis-widget-content>
            <div class="tab-pane fade" id="s1"><p class="alert alert-success"> Imagine something cool here</p></div>
            <div class="tab-pane fade" id="s2"><p class="alert alert-warning"> Imagine something cool here</p></div>
            <div class="tab-pane fade" id="s3"><p class="alert alert-danger"> Imagine something cool here</p></div>
        </jarvis-widget-content>
    </jarvis-widget >
</article>