<div class="tab-content no-padding">
    <!--<h4 class="alert alert-info"> {{dataslot.description}} </h4>-->
    <!--    <ul class="nav nav-tabs">
            <li ng-repeat="group in indicators" ng-class="{active:cat === activeGroup}"><a ng-click="activateGroup($index)">{{group.displayName}}</a></li>
        </ul>
        <div class="tab-pane fade active in padding-10 no-padding-bottom" id="s1">
            <div class="panel" ng-class="getPanelColour(1, 1)">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa" ng-class="IconService.getStyleClassForIconResource(activeGroup.iconResource)"></i>
                        {{activeGroup.displayName}}</h3>
                </div>
                <div class="panel-body no-padding text-align-center">
                    <table class="table" style="text-align:left;">
                        <thead>
                            <tr>
                                <th>
                                    Aspect
                                </th>
                                <th>
                                    Indicator
                                </th>
                                <th>
                                    Criteria
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in activeGroup" >
                                <td>
                                    {{item.displayName}}
                                </td>
                                <td>
                                    {{item.indicator| number}} {{item.indicatorUnit}}
                                </td>
                                <td>
                        <criteriaeasypie ng-if="item.criteriaFunction" indicator="item.indicator" criteria-function="item.criteriaFunction" size="size"></criteriaeasypie>
                        </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer no-padding">
                </div>
            </div>
        </div>-->

    <div class="row" ng-repeat="page in pagedIccGroups">
        <div ng-class="group.averages ? 'col-xs-12 col-sm-12 col-md-12' : 'col-xs-12 col-sm-6 col-md-6'" 
             ng-repeat="group in page">
            <div class="panel" ng-class="getPanelColour(0, $parent.$index + $index)">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa" ng-class="IconService.getStyleClassForIconResource(group.iconResource)"></i>
                        {{group.displayName}}</h3>
                </div>
                <div class="panel-body no-padding text-align-center">
                    <table class="table" style="text-align:left;">
                        <thead ng-if="group.averages">
                            <tr>
                                <th>
                                    Aspect
                                </th>
                                <th>
                                    Indicator (AVG)
                                </th>
                                <th>
                                    Indicator (MIN)
                                </th>
                                <th>
                                    Indicator (MAX)
                                </th>
                                <th>
                                    Criteria (AVG)
                                </th>
                                <th>
                                    Criteria (MIN)
                                </th>
                                <th>
                                    Criteria (MAX)
                                </th>
                            </tr>
                        </thead>
                        <thead ng-if="!group.averages">
                            <tr>
                                <th>
                                    Aspect
                                </th>
                                <th>
                                    Indicator
                                </th>
                                <th>
                                    Criteria
                                </th>
                            </tr>
                        </thead>
                        <tbody ng-if="group.averages">
                            <tr ng-repeat="avgItem in group.avgItems" >
                                <td>
                                    {{avgItem.avg.displayName || avgItem.min.displayName || avgItem.max.displayName}}
                                    ({{avgItem.avg.indicatorUnit !== 'Euro' ? '# of ': ''}}{{avgItem.avg.indicatorUnit}})
                                </td>
                                <td>
                                    {{!avgItem.avg.indicator ? 0 : avgItem.avg.indicator | number}} {{avgItem.avg.indicatorUnit}}
                                </td>
                                <td>
                                    {{!avgItem.min.indicator ? 0 : avgItem.min.indicator | number}} {{avgItem.min.indicatorUnit}}
                                </td>
                                <td>
                                    {{!avgItem.max.indicator ? 0 : avgItem.max.indicator | number}} {{avgItem.max.indicatorUnit}}
                                </td>
                                <td>
                                    <criteriaeasypie ng-if="avgItem.avg.criteriaFunction" indicator="avgItem.avg.indicator" criteria-function="avgItem.avg.criteriaFunction" size="size"></criteriaeasypie>
                                </td>
                                <td>
                                    <criteriaeasypie ng-if="avgItem.min.criteriaFunction" indicator="avgItem.min.indicator" criteria-function="avgItem.min.criteriaFunction" size="size"></criteriaeasypie>
                                </td>
                                <td>
                                    <criteriaeasypie ng-if="avgItem.max.criteriaFunction" indicator="avgItem.max.indicator" criteria-function="avgItem.max.criteriaFunction" size="size"></criteriaeasypie>
                                </td>
                            </tr>
                        </tbody>
                        <tbody ng-if="!group.averages">
                            <tr ng-repeat="item in group.items" >
                                <td>
                                    {{item.displayName}}
                                    ({{item.indicatorUnit !== 'Euro' ? '# of ': ''}}{{item.indicatorUnit}})
                                </td>
                                <td>
                                    {{!item.indicator ? 0 : item.indicator| number}} {{item.indicatorUnit}}
                                </td>
                                <td>
                                    <criteriaeasypie ng-if="item.criteriaFunction" indicator="item.indicator" criteria-function="item.criteriaFunction" size="size"></criteriaeasypie>
                                 </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer no-padding">
                </div>
            </div>
        </div>
    </div>
</div>