<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-12">
        <div class="container-fluid">
            <div style="float:left;margin-right: 20px;">
                <h1 class="page-title txt-color-blueDark" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">
                    <i class="fa-fw fa fa-globe"></i> {{worldstate.name}}
                </h1>
            </div>
            <div class=" btn-group" style="margin-top: 10px;">
                <a ng-click="addToWorkspace()" tooltip-placement="bottom" tooltip="Add Worldstate to Workspace" class="btn btn-default"><strong><i class="fa fa-plus fa-lg text-danger"></i></strong></a>
                <a ng-click="removeFromWorkspace()" tooltip-placement="bottom" tooltip="Remove Worldstate from Workspace" class="btn btn-default"><strong><i class="fa fa-minus fa-lg"></i></strong></a>
            </div>
            <div style="float:right;">

                <ul id="sparks" class="">
                    <!--<li class="sparks-info">-->
                    <li class="sparks-info" ng-repeat="indicator in importantIndicators">
                        <h5> {{indicator.displayName}} <span ng-class="getColor($index)"><i class="fa" ng-class="IconService.getStyleClassForIconResource(indicator.iconResource)"></i>&nbsp;{{indicator.value | number}}&nbsp;{{indicator.unit}}</span></h5>
                        <!--<div class="txt-color-blue sparkline  hidden-mobile hidden-md hidden-sm sparkline  hidden-mobile hidden-md hidden-sm" values="spark1Values"><canvas width="5" height="26" style="display: inline-block; width: 5px; height: 26px; vertical-align: top;"></canvas></div>-->
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>