<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <input type="checkbox" name="useShakemap" ng-model="currentParams.useShakemap"><span>&nbsp;Use shakemap</span>
        </div>
        <div class="col-lg-6">
            <button type="button" 
                    class="btn btn-default" 
                    ng-model="currentParams.shakemapName" 
                    ng-options="name for name in ['shakemap_1','shakemap_2','shakemap_3','shakemap_4']"
                    data-placeholder="Choose shakemap"
                    data-placement='bottom-right'
                    data-all-none-buttons="'false'"
                    bs-select
                    style="width: 100%; text-align: right;">
            </button>
        </div>
    </div>
    <div class="row">
        <hr>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <leaflet id="eqParamMap5" defaults="defaults" center="center" width="538" height="400"></leaflet>
            <div class="row" style="margin-top: 10px;">
                <div class="col-lg-6">
                    <div class="row" >
                        <div class='col-lg-2'>
                            <span style="height: 34px; display: table-cell; vertical-align: middle;">Lat:</span>
                        </div>
                        <div class='col-lg-10'>
                            <input class="form-control" type="number" ng-model="currentParams.latitude" ng-change="createLatLng()">
                            <span class='fa fa-globe input-icon latlonfix'></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class='col-lg-2'>
                            <span style="height: 34px; display: table-cell; vertical-align: middle;">Lon:</span>
                        </div>
                        <div class='col-lg-10'>
                            <input class="form-control" type="number" ng-model="currentParams.longitude" ng-change="createLatLng()">
                            <span class='fa fa-globe input-icon latlonfix'></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 15px;">
                <div class="col-lg-6">
                    <div class="row" >
                        <div class='col-lg-4'>
                            <span style="height: 34px; display: table-cell; vertical-align: middle;">Magnitude:</span>
                        </div>
                        <div class='col-lg-8'>
                            <input class="form-control" 
                                   type="number"
                                   ng-model="currentParams.magnitude"
                                   bs-tooltip="magnitudeTooltip"
                                   data-trigger="focus"
                                   data-type="info"
                                   data-placement="bottom">
                            <span class='fa fa-area-chart input-icon latlonfix'></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class='col-lg-3'>
                            <span style="height: 34px; display: table-cell; vertical-align: middle;">Depth:</span>
                        </div>
                        <div class='col-lg-9'>
                            <input class="form-control" 
                                   type="number"
                                   ng-model="currentParams.depth"
                                   bs-tooltip="depthTooltip"
                                   data-trigger="focus"
                                   data-type="info"
                                   data-placement="bottom">
                            <span class='fa fa-wifi input-icon latlonfix'></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>