<article class="col-sm-12 col-md-12 col-lg-9">
    <!-- new widget -->
    <div class="jarviswidget jarviswidget-color-blue" id="wid-id-4" >
        <jarvis-widget-title title="title" icon="icon">
            <!-- <div class="widget-toolbar">
            add: non-hidden - to disable auto hide

            </div>-->
        </jarvis-widget-title>

        <!-- widget div-->
        <jarvis-widget-content>
            <!-- widget edit box -->
            <h5 style="margin: 0 auto; text-align: center">Imagine an incrediable filthy content here !</h5>
        </jarvis-widget-content>
        <!-- end widget div -->
    </div>
    <!-- end widget -->
</article>